.hero {
  align-items: center;
  background: linear-gradient(#7380ec, black);
  color: #f9f9f9;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 70%, 0 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-bottom: 8rem;
  transition: clip-path 1s;
}

.hero:hover {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 25% 100%, 0 70%, 0 0);
}

.image img {
  border-radius: 50%;
  object-fit: cover;
}
